nav {
    position: fixed;
    width: 100%;
    top: 0;
}

div.container {
    background-color: #4267B2;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 1rem;
}

.navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.navbar-header {
    align-self: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

ul li {
    margin: 0 1rem;
}

li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}